@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  /* background: #dbdee0; */
  color: #fafafa;
  scroll-behavior: smooth;
  z-index: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.metallicCSS {
  transition: translateY(-50%);
    background:linear-gradient(#18181b,#fafafa,#18181b);
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
}
.gradientCSS {
  transition: translate(-50%);
  background-image: linear-gradient(to right, rgb(8, 8, 8), #18181b 15%);
}

.headerTextCSS {
  transition: translateY(-50%);
  background:linear-gradient(#FFC947,#2a2a2a 75%);
  -webkit-background-clip: text;
  background-clip: text;
  color:transparent;
}

.customShadow{
  filter: drop-shadow(5px 5px 5px #2a2a2a)
}

.blueStyle {
  color: #0070f3;
}
.yellowStyle {
  color: #FFC947
}

.buttonOneCSS {
  @apply 
  /* inline-block  */
  rounded 
  bg-[#FFC947] 
  px-6 
  py-3
  text-sm
  font-medium 
  uppercase 
  leading-normal
  transition 
  duration-150 
  ease-in-out 
  hover:bg-[#c29836]
  focus:bg-[#c29836]
  focus:outline-none focus:ring-0 
  active:bg-[#c29836]
}

.buttonTwoCSS {
  @apply 
  inline-block 
  rounded 
  bg-[#2a2a2a] 
  ring
  ring-inset
  ring-[#FFC947] 
  px-6 
  py-3
  text-sm
  font-medium 
  uppercase 
  leading-normal 
  text-[#FFC947]
  transition 
  duration-150 
  ease-in-out 
  hover:bg-[#c29836] 
  hover:ring-[#c29836] 
  hover:text-white
  focus:bg-[#c29836]
  focus:outline-none focus:ring-0 
  active:bg-[#c29836]
}

.inputStyle {
  @apply 
  block 
  text-[#2a2a2a]
  mt-2 
  w-full 
  px-3 
  py-3 
  bg-white 
  border 
  border-solid 
  border-gray-300 
  rounded-md  
  transition 
  ease-in-out 
  focus:text-gray-700 
  focus:bg-white 
  focus:border-[#0070f3] 
  focus:outline-none
}

.loadingCircle {
  @apply
  inline-block
  h-6 
  w-6 
  animate-spin 
  rounded-full 
  border-2 
  border-solid 
  border-current 
  border-r-transparent 
  align-[-0.125em] 
  motion-reduce:animate-[spin_1.5s_linear_infinite] 
  text-white
}

@media (prefers-color-scheme: dark) {

}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
